@import 'variables';
@import 'mixins';
@import 'custom';
@import 'transitions';
@import 'theme';

// =================================
// ==============global==========
// =================================
html,
body,
#app {
  height: 100%;
  width: 100%;
  overflow: visible !important;
  overflow-x: hidden !important;
  color: var(--el-text-color-primary);
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset !important;
}

:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s !important;
}

html {
  overflow: hidden;
  text-size-adjust: 100%;
}

a:focus,
a:active,
input:focus,
button,
div,
svg,
span {
  outline: none !important;
}

// =================================
// ==============scrollbar==========
// =================================

::-webkit-scrollbar {
  width: 7px;
  height: 8px;
}

// ::-webkit-scrollbar-track {
//   background: transparent;
// }

::-webkit-scrollbar-track {
  background-color: rgb(0 0 0 / 5%);
}

::-webkit-scrollbar-thumb {
  // background: rgba(0, 0, 0, 0.6);
  background-color: rgb(144 147 153 / 30%);
  // background-color: rgba(144, 147, 153, 0.3);
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgb(0 0 0 / 20%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: $border-color-dark;
}
